<h2>Categories</h2>

<hr />

<div class="row">

    <div class="col-lg-5">
        <h4>Add new</h4>
        <form>
            <div class="form-group">
                <label for="category-name">Enter name</label>
                <input type="text" class="form-control" id="category-name" />
            </div>
            <div class="form-group">
                <label for="category-desc">Description</label>
                <input type="text" class="form-control" id="category-desc" />
            </div>
            <div class="form-group">
                <label for="category-thumbnail">Thumbnail</label>
                <input type="file" class="form-control" id="category-thumbnail" />
            </div>
            <div class="form-group">
                <div class="progress">
                    <div class="progress-bar" style="width:0%">0%</div>
                </div>
            </div>
            <div class="from-group">
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </form>
        <div id="result">

        </div>
    </div>

    <div class="col-lg-7">
        <h4>Saved Categories</h4>
    </div>

</div>